* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
}

div {
    display: flex;
    justify-content: center;
}

.tfirst {
    margin-top: 2vb;
    display: grid;
}

#t1, #t2 {
    margin: 0;
    padding: 0;
    width: 90vw;
    height: 15vh;
    border: 1px solid #000000;
    font-size: 40px;
    text-align: right;
    background-color: #000000;
    color: #ECECEC;
}

.AC, .C, .per, .div, .one, .two, .three, .mul, .four, .five, .six, .sub, .seven, .eight, .nine, .add, .zero2, .zero1, .dot, .eq{
    width: 15vw;
    height: 15vh;
    background-color: #2E2E2E;
    color: #ECECEC;
    border: 3px solid #000000;
    font-size: 20px;
    border-radius: 100%;
    margin: 2px 5px;
}

.AC, .C, .per, .div, .mul, .sub, .add {
    background-color: #1E1E1E;
}

.eq {
    background-color: #64798A;
}

.first {
    margin-top: 2vh;
}

@media (min-width: 900px) {
    #t1, #t2 {
        width: 850px;
        height: 80px;
    }

    .AC, .C, .per, .div, .one, .two, .three, .mul, .four, .five, .six, .sub, .seven, .eight, .nine, .add, .zero2, .zero1, .dot, .eq{
        width: 200px;
        height: 80px;
        border-radius: 50%;
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .AC, .C, .per, .div, .one, .two, .three, .mul, .four, .five, .six, .sub, .seven, .eight, .nine, .add, .zero2, .zero1, .dot, .eq{
        width: 15vw;
        height: 12vh;
        border-radius: 100%;
    }
}