* {
    padding: 0;
    margin: 0;
}

div {
    display: flex;
    justify-content: center;
}

.tfirst {
    margin-top: 2vb;
    display: grid;
}

#t1, #t2 {
    margin: 0;
    padding: 0;
    width: 95vw;
    height: 10vh;
    border: 1px solid rgba(155,177,128,255);
    font-size: 40px;
    text-align: right;
    background-color: rgba(155,177,128,255);
    color: black;
}

.AC, .C, .per, .div, .one, .two, .three, .mul, .four, .five, .six, .sub, .seven, .eight, .nine, .add, .zero2, .zero1, .dot, .eq{
    width: 30vw;
    height: 10vh;
    background-color: rgb(51, 50, 50);
    color: white;
    border: 3px solid white;
    font-size: 30px;
}

.first {
    margin-top: 40px;
}

@media (min-width: 900px) {
    #t1, #t2 {
        width: 850px;
        height: 100px;
    }

    .AC, .C, .per, .div, .one, .two, .three, .mul, .four, .five, .six, .sub, .seven, .eight, .nine, .add, .zero2, .zero1, .dot, .eq{
        width: 220px;
        height: 83px;
    }
}

@media (max-height: 700px) {
    #t1, #t2 {
        width: 95vw;
        height: 10vh;
    }

    .AC, .C, .per, .div, .one, .two, .three, .mul, .four, .five, .six, .sub, .seven, .eight, .nine, .add, .zero2, .zero1, .dot, .eq{
        width: 30vw;
        height: 10vh;
    }
}